.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0;
}

.topicos_titulo {
    color: var(--branco);
    font-weight: 300;
    margin: 0 0 1em 0;
}

.topicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos_item {
    margin: 2em 0.5em;
}

.topicos_link {
    color: var(--branco);
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
}

.topicos_link:hover {
    color: var(--preto);
    background-color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .topicos_titulo {
        font-size: 24px;
    }

    .topicos_link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 5em 25vw;
    }

    .topicos_titulo {
        font-size: 32px;
    }
}